* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(
    40deg,
    rgba(12, 50, 50, 1) 0%,
    rgba(23, 131, 191, 1) 84%
  );
  background-attachment: fixed;

  text-shadow: 0 0 5px rgba(21, 171, 195, 0.7);
}
